body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(107, 60, 72);
    text-align: center;
    align-items: center;
    font-size: 150%;
    border: 10px solid rgb(71, 17, 31);
    padding: 15px;
    margin-top: 40px;
}

h1{
    color: white;
}

input{
    color: rgb(107, 60, 72);
    border-radius: 6px;
    border: 2px solid;
    width: 200px;
    height: 25px;
}

button{
    cursor: pointer;
    background-color: rgb(71, 17, 31);
    border-radius: 6px;
    width: 150px;
    height: 30px;
    color: white;
    border-style: none;
    margin-top: 13px;
}

.Carro{
    text-align: center;
}

p{
    color: white;
    
}
